<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mis Habilidades</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<header th:replace="presentation/fragments/headerOferente :: header"></header>
<main>
    <div class ="page__container">
        <h1>Mis Habilidades</h1>
    </div>
</main>
<footer class="page__footer" th:replace="presentation/fragments/Footer :: footer"></footer>
</body>
</html>