<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi CV</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/oferente/dashboard.css}" type="text/css">
</head>
<body>
<header class="page__header" th:replace="presentation/fragments/header :: header"></header>

<main class="main">
    <div class="main__container page">
        <h1 class="page__title">Dashboard</h1>
        <h3 class="page__subtitle">Administra tus habilidades y tu CV</h3>

        <!-- Bloque de botones -->
        <div class="dashboard__buttons botones">
            <a class="dashboard__link" th:href="@{/presentation/oferente/habilidades}">
                <button class="dashboard__button" type="button">Mis Habilidades</button>
            </a>

            <a class="dashboard__link" th:href="@{/presentation/oferente/cv}">
                <button class="dashboard__button" type="button">Ver CV</button>
            </a>
        </div>
    </div>
</main>

<footer class="page__footer" th:replace="presentation/fragments/Footer :: footer"></footer>
</body>
</html>