<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empresa - Candidatos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<header th:replace="presentation/fragments/header :: header"></header>
<main>
    <h1>Candidatos para el puesto</h1>

    <h2>Puesto: <span th:text="${puesto.descripcion}"></span></h2>

    <table>
        <thead>
        <tr>
            <th>Oferente</th>
            <th>Requisitos cumplidos</th>
            <th>% Coincidencia</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidato : ${candidatos}">
            <td th:text="${candidato['oferente'].nombre + ' ' + candidato['oferente'].primerApellido}"></td>
            <td th:text="${candidato['requisitosCumplidos'] + '/' + candidato['totalRequisitos']}"></td>
            <td th:text="${candidato['porcentajeCoincidencia'] + '%'}"></td>
            <td>
                <button type="button">
                    <a th:href="@{/presentation/empresa/candidatos/oferente(id=${candidato['oferente'].id})}">Ver detalles</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
