<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidatos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<header th:replace="presentation/fragments/header :: header"></header>

<h2>Candidatos</h2>

<table border="1">
    <tr>
        <th>Oferente</th>
        <th>Requisitos cumplidos</th>
        <th>% Coincidencia</th>
        <th>Acción</th>
    </tr>
    <tr th:each="o : ${oferentes}">
        <td th:text="${o.nombre + ' ' + o.primerApellido}"></td>
        <td>-</td>
        <td>100%</td>
        <td>
            <a th:href="@{/presentation/oferente/detalle/{id}(id=${o.id})}">Ver detalle</a>
        </td>
    </tr>
</table>

</body>
</html>
