<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/empresa/dashboard.css}" type="text/css">
    <title>Empresa - Dashboard</title>
</head>
<body>
<header th:replace="presentation/fragments/header :: header"></header>
<main class="dashboard">
    <h1 class="dashboard__title">Empresa - Dashboard</h1>
    <h2 class="dashboard__subtitle">Desde aquí podés administrar tus puestos y buscar candidatos</h2>
    <section class="dashboard__actions">
        <button class="dashboard__action-btn">
            <a class="dashboard__action-link" href="/presentation/empresa/puestos">Ver mis puestos</a>
        </button>
        <button class="dashboard__action-btn">
            <a class="dashboard__action-link" href="/presentation/empresa/puesto/registrar">Publicar nuevo puesto</a>
        </button>
    </section>
</main>
<footer th:replace="presentation/fragments/Footer :: footer"></footer>
</body>
</html>