<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Puesto</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nuevoPuesto.css}" type="text/css">
</head>
<body>
<header th:replace="presentation/fragments/header :: header"></header>

<div class="content">

    <h1>Crear Puesto</h1>

    <form method="POST" name="puesto" th:action="@{/presentation/empresa/puesto/registrar}" th:object="${puesto}">

        <label>Descripcion</label>
        <input type="text" th:field="*{descripcion}">

        <label>Salario</label>
        <input type="text" th:field="*{salario}">

        <label>Tipo de Publicación</label>
        <select th:field="*{tipoPublicacion}">
            <option value="Publica" selected>Publica</option>
            <option value="Privada">Privada</option>
        </select>

        <br><br>

        <h3>Características requeridas</h3>
        <div th:each="raiz : ${caracteristicasRaiz}">
            <div th:replace="~{presentation/fragments/CaracteristicaTree :: arbol(${raiz})}"></div>
        </div>

        <br>
        <button type="submit">Guardar Puesto</button>
    </form>

</div>

<footer>
    <div>
        <strong>Bolsa de Empleo</strong><br>
        Total Soft Inc.
    </div>
    <div>
        Contacto: info@bolsaempleo.local<br>
        Créditos: Equipo de desarrollo
    </div>
</footer>

</body>
</html>
