<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar Puestos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/publico/buscarPuestos.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/caracteristicaTree.css}" type="text/css">
</head>
<body>
<header th:replace="presentation/fragments/header :: header"></header>

<main class="main">
    <div class="main__container page">
        <div class="container__left">

            <h1 class="page__title">Búsqueda de puestos</h1>

            <!-- Filtrador -->
            <div class="page__filtrador filtrador">
                <form class="filtrador__form" method="post" th:action="@{/presentation/publico/filtrar}">
                    <h3 class="filtrador__title">Filtrar por característica</h3>

                    <div class="filtrador__tree" th:each="raiz : ${caracteristicasRaiz}">
                        <div th:replace="~{presentation/fragments/CaracteristicaTreePublico :: arbol(${raiz})}"></div>
                    </div>

                    <div class="filtrador__buttons">
                        <button class="filtrador__button filtrador__button--filtrar" type="submit" name="accion" value="filtrar">Filtrar</button>
                        <button class="filtrador__button filtrador__button--limpiar" type="submit" name="accion" value="limpiar">Limpiar</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Resultados -->
        <div class="container__right">

            <h3 class="page__subtitle">Resultados</h3>
            <div class="page__resultados resultados">
                <div class="resultados__empty" th:if="${puestos == null or puestos.isEmpty()}">
                    <p>No hay resultados</p>
                </div>

                <div class="resultados__list" th:each="puesto : ${puestos}">
                    <div class="puesto">
                        <p class="puesto__empresa"><strong>Empresa:</strong> <span th:text="${puesto.getEmpresa().nombre}"></span></p>
                        <p class="puesto__descripcion"><strong>Descripción:</strong> <span th:text="${puesto.descripcion}"></span></p>
                        <p class="puesto__salario"><strong>Salario:</strong> <span>$</span> <span th:text="${puesto.salario}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page__footer" th:replace="presentation/fragments/Footer :: footer"></footer>
</body>
</html>