<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Empresa</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/publico/registro.css}" type="text/css">
</head>

<body>
<header th:replace="presentation/fragments/header :: header"></header>
<main class="main">
    <div class="main__container page">
        <h1 class="page__title">Registrar Empresa</h1>

        <div th:if="${error}" class="message--error">
            <p th:text="${error}"></p>
        </div>

        <form class="form" method="POST" th:object="${empresa}" th:action="@{/presentation/empresa/registrar}">

            <!-- Datos de usuario -->
            <div class="form__section form__section--usuario">
                <h3 class="form__section-title">Datos de usuario</h3>

                <label class="form__label" for="nombreUsuario">Nombre del usuario</label>
                <input class="form__input" type="text" id="nombreUsuario" name="nombreUsuario" required>

                <label class="form__label" for="clave">Clave</label>
                <input class="form__input" type="password" id="clave" name="clave" required>
            </div>

            <!-- Datos de la empresa -->
            <div class="form__section form__section--empresa">
                <h3 class="form__section-title">Datos de la empresa</h3>

                <label class="form__label" for="nombre">Nombre de la empresa</label>
                <input class="form__input" type="text" id="nombre" th:field="*{nombre}" required>

                <label class="form__label" for="localizacion">Localización</label>
                <input class="form__input" type="text" id="localizacion" th:field="*{localizacion}" required>

                <label class="form__label" for="correoElectronico">Correo electrónico</label>
                <input class="form__input" type="email" id="correoElectronico" th:field="*{correoElectronico}" required>

                <label class="form__label" for="telefono">Teléfono</label>
                <input class="form__input" type="text" id="telefono" th:field="*{telefono}" required>

                <label class="form__label" for="descripcion">Descripción</label>
                <textarea class="form__textarea" id="descripcion" th:field="*{descripcion}" required></textarea>
            </div>

            <button class="form__button form__button--submit" type="submit">Guardar Empresa</button>
        </form>
    </div>
</main>

<footer class="page__footer" th:replace="presentation/fragments/Footer :: footer"></footer>
</body>
</html>