<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--
    Fragmento recursivo para renderizar el árbol de características.
-->
<div class="caracteristica-nodo" th:fragment="arbol(nodo)">
    <details class="caracteristica-nodo__detalle">
        <summary class="caracteristica-nodo__resumen">
            <input class="caracteristica-nodo__checkbox" type="checkbox" name="caracteristicaIds" th:value="${nodo.id}">
            <span class="caracteristica-nodo__nombre" th:text="${nodo.nombre}"></span>
        </summary>
        <div class="caracteristica-nodo__hijos" th:if="${nodo.caracteristicas != null and not nodo.caracteristicas.isEmpty()}">
            <th:block th:each="hijo : ${nodo.caracteristicas}">
                <th:block th:if="${hijo.id != nodo.id}">
                    <div th:replace="~{presentation/fragments/CaracteristicaTreePublico :: arbol(${hijo})}"></div>
                </th:block>
            </th:block>
        </div>
    </details>
</div>

</body>
</html>