<header class="navbar" th:fragment="headerAdmin">
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <span>BolsaEmpleo</span>
        <nav>
            <a href="/presentation/admin/dashboard">Dashboard</a>
            <a href="/presentation/admin/empresasPendientes">Empresas Pendientes</a>
            <a href="/presentation/admin/oferentesPendientes">Oferentes Pendientes</a>
            <a href="/">Caracteristicas</a>
            <a href="/">Reportes</a>
        </nav>
    </div>
    <div class="login">
        <a href="/presentation/login/form">Login</a>
    </div>
</header>