<header class="navbar" th:fragment="headerAdmin">
    <div class="navbar__brand">
        <a class="navbar__brand-link" href="/">
            <img class="navbar__logo" src="/images/logo.png" alt="logo">
            <span class="navbar__title">BolsaEmpleo</span>
        </a>
    </div>
    <nav class="navbar__nav">
        <a class="navbar__nav-link" href="/presentation/admin/dashboard">Dashboard</a>
        <a class="navbar__nav-link" href="/presentation/admin/empresas-pendientes">Empresas Pendientes</a>
        <a class="navbar__nav-link" href="/presentation/admin/oferentes-pendientes">Oferentes Pendientes</a>
        <a class="navbar__nav-link" href="/presentation/admin/caracteristicas">Caracteristicas</a>
        <a class="navbar__nav-link" href="/">Reportes</a>
    </nav>
    <div class="navbar__login">
        <a class="navbar__login-link" href="/presentation/login/form">Login</a>
    </div>
</header>