<header class="navbar" th:fragment="header">
    <div class="logo">
        <img src="/images/logo.png" alt="logo">
        <span>BolsaEmpleo</span>
        <nav>
            <a href="/presentation/empresa/Dashboard">Dashboard</a>
            <a href="/presentation/empresa/ver/mis-puestos">Mis puestos</a>
            <a href="/presentation/empresa/registrar/puesto">Publicar puesto</a>
        </nav>
    </div>
    <div class="login">
        <a href="/presentation/login/form">Login</a>
    </div>
</header>