<header class="navbar" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar__brand">
        <a class="navbar__brand-link" href="/">
            <img class="navbar__logo" src="/images/logo.png" alt="logo">
            <span class="navbar__title">BolsaEmpleo</span>
        </a>
    </div>

    <nav class="navbar__nav">
        <!-- Opciones públicas -->

        <th:block sec:authorize="isAnonymous()">
            <a class="navbar__nav-link" href="/presentation/empresa/registrar">Registro Empresa</a>
            <a class="navbar__nav-link" href="/presentation/oferente/registrar">Registro Oferente</a>
            <a class="navbar__nav-link" href="/presentation/publico/puestos">Buscar puestos</a>
        </th:block>

        <!-- Opciones para Administrador -->
        <th:block sec:authorize="isAuthenticated() and hasAuthority('Administrador')">
            <a class="navbar__nav-link" href="/presentation/admin/dashboard">Dashboard</a>
            <a class="navbar__nav-link" href="/presentation/admin/empresas-pendientes">Empresas Pendientes</a>
            <a class="navbar__nav-link" href="/presentation/admin/oferentes-pendientes">Oferentes Pendientes</a>
            <a class="navbar__nav-link" href="/presentation/admin/caracteristicas">Caracteristicas</a>
            <a class="navbar__nav-link" href="/">Reportes</a>
        </th:block>

        <!-- Opciones para Empresa -->
        <th:block sec:authorize="isAuthenticated() and hasAuthority('Empresa')">
            <a class="navbar__nav-link" href="/presentation/empresa/dashboard">Dashboard</a>
            <a class="navbar__nav-link" href="/presentation/empresa/puestos">Mis puestos</a>
            <a class="navbar__nav-link" href="/presentation/empresa/puesto/registrar">Publicar puesto</a>
        </th:block>

        <!-- Opciones para Oferente -->
        <th:block sec:authorize="isAuthenticated() and hasAuthority('Oferente')">
            <a class="navbar__nav-link" href="/presentation/oferente/dashboard">Dashboard</a>
            <a class="navbar__nav-link" href="/presentation/oferente/habilidades" >Mis habilidades</a>
            <a class="navbar__nav-link" href="/presentation/oferente/cv">Mi CV</a>
        </th:block>
    </nav>

    <div class="navbar__login">
        <!-- Si no ha iniciado sesión -->
        <th:block sec:authorize="isAnonymous()">
            <a class="navbar__login-link" href="/presentation/login/form">Login</a>
        </th:block>

        <!-- Si sí ha iniciado sesión -->
        <th:block sec:authorize="isAuthenticated()">
            <div class="navbar__user">
                <a class="navbar__login-link" href="#">&#128100;</a>
                <ul class="navbar__submenu">
                    <li>-- <span sec:authentication="name"></span> --</li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </th:block>
    </div>
</header>