<header class="navbar" th:fragment="header">
    <div class="navbar__brand">
        <a class="navbar__brand-link" href="/">
            <img class="navbar__logo" src="/images/logo.png" alt="logo">
            <span class="navbar__title">BolsaEmpleo</span>
        </a>
    </div>
    <nav class="navbar__nav">
        <a class="navbar__nav-link" href="/presentation/oferente/dashboard">Dashboard</a>
        <a class="navbar__nav-link" href="/presentation/oferente/habilidades">Mis habilidades</a>
        <a class="navbar__nav-link" href="/presentation/oferente/cv">Mi CV</a>
    </nav>
    <div class="navbar__login">
        <a class="navbar__login-link" href="/presentation/login/form">Login</a>
    </div>
</header>